# Ignorar dependências e variáveis de ambiente
node_modules/
.env

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração do VS Code
.vscode/

# (opcional) Ignorar o arquivo de lock do npm
# package-lock.json
